AzureQueueMulticaster/AzureQueueMessageMulticaster/AzureQueueMulticastRouteConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AzureQueueMulticastRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AzureQueueMulticastRoute">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SourceQueue">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ConnectionStringName"/>
                    <xs:element type="xs:string" name="QueueName"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="MessageInivisibilityTimeMillisec"/>
                  <xs:attribute type="xs:byte" name="MaxDelayBetweenDequeueAttemptsSeconds"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="DestinationQueues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AzureDestinationQueueConnection" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ConnectionStringName"/>
                          <xs:element type="xs:string" name="QueueName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>